<nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo left" style="padding-right: 30px;">Logo</a>
      <input type="text" class="right" style='width: 100px; height:35px; margin-top: 20px; margin-right:10px;' name="name" value="">
      <p class="right" style="margin-right:10px; font-size:20px; margin-top:6px">
        Search:
      </p>

    </div>
  </nav>
