<div class="homeBody">
    <h1><span class="fa fa-lock"></span></h1>
    <!-- <a href="/user/<%= %>"></a> -->
    <div class="signUpContainer" style="max-width: 100%;">
      <% if (isLoggedIn) { %>
      <h2>Stations Currently Broadcasting</h2><ul class="room-library collection"></ul>
      <% } else { %>
      <h2>SIGN IN TO TUNE IN TO STATIONS CURRENTLY BROADCASTING</h2>
      <% } %>
    </div>
</div>
  <script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
var socket = io();

  socket.on('room-homepage', function(room){
    console.log(room);
    $.ajax({
      url: 'user/logged/' + room,
      method: 'GET'
    }).done(function(data){
      console.log(data);
      console.log(data.local.username)
      var roomLibrary = $('.room-library')
      console.log(data.local.username);
      roomLibrary.append('<li class="collection-item"><a href="/user/' + data._id + '" data-username="' + data.local.username + '">' + data.local.username + '</a></li>')
    })

  })
</script>
