<!DOCTYPE html>
<html>
<head>
	<title>Passport Authentication Practice</title>
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lobster">
	<script type="text/javascript" src="/js/jquery-3.1.0.min.js"></script>
	<script type="text/javascript" src="/js/materialize.min.js"></script>
	<script type="text/javascript" src="/js/soundcloud-iframe.js"></script>
	<link rel="stylesheet" href="/css/materialize.min.css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="/css/styles.css" media="screen" title="no title" charset="utf-8">
</head>
<body>
	 <% include ./partials/nav%>
	<div class="container">
		<%- body %>
	</div>
</body>
</html>
