<h1>USER SHOW</h1>
<iframe id="sc-widget" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fsoundcloud.com%2Fmatas%2Fhobnotropic"
width="100%" height="165px" scrolling="no" frameborder="no"></iframe>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
  var socket = io();
  socket.emit('join-room', '<%= roomToJoin %>')
  console.log('<%= roomToJoin %>');
  socket.on('room-created', function(msg){
    console.log(msg);
 })
 socket.on('room-joined', function(message){
   console.log(message);
 })
socket.on('song-playing', function(songUrl){
  // console.log(msg);
  $('#sc-widget').attr('src', "https://w.soundcloud.com/player/?url=" + songUrl)
})

</script>
