body {
  background-color: #000738;
  color: white;
}
li {
  color: black;
}
button {
  background-color: #FFBC68;
}
.btn {
    background-color: #FFBC68;
}
.btn:hover{
    background-color: #FFBC68;
}
.btn:active{
    background-color: #FFBC68;
}


#logoutProf {
  float: right;
}
