/*body {
  background-color: #002954;
  color: #E4FCFC;
}
nav {
  background-color: #002954;
  color: #E4FCFC;
  border-bottom: 2px solid #E4FCFC;
}


/*Buttons*/
/*.btn {
  color: #E4FCFC;
  background-color: #FFA45A;
}
.btn:active{
    color: #E4FCFC;
    background-color: #FFA45A;
}*/

#logoutProf {
  float: right;
}
